.cart{
    background-color: #ECEFF1;
    padding-left: 10px;
    width: 300px;
    margin-right:40px ;
    margin-top: 40px;
    border: 1px solid;
    border-radius: 10px;
    position: sticky;
    top: 0;
}
.cart-h3{
    font-size: 25px;
        text-align: center;
        font-style: italic;
}